<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Customer Add Form</h4>
        </div>
        <div class="modal-body">
            <div class="modal-body">

                <form class="form-horizontal" role="form" name="AddAuthorForm">

                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Initials</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" data-ng-model="authorSave.Init" class="form-control" id="title" placeholder="Your Initials" required title="Enter your Initials" />
                        </div>
                        <p class="help-block" ng-if="AddAuthorForm.Initials.$invalid && loginForm.Initials.$dirty">Please Enter at least 8 characters</p>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" class="form-control" id="title" data-ng-model="authorSave.FName" placeholder="Your First Name" required title="Enter your First name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" class="form-control" id="title" data-ng-model="authorSave.LName" placeholder="Your Last Name" required title="Enter your Last name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" class="form-control" id="title" data-ng-model="authorSave.address" placeholder="Your Address" required title="Enter your address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Zip Code</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" class="form-control" data-ng-model="authorSave.Zip_Code" id="title" placeholder="Your Zip Code" required title="Enter Zip Code" numbers-only limit-to="5" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10">
                            <input type="text" ng-readonly="editText" class="form-control" id="title" data-ng-model="authorSave.CountryName" placeholder="Country Name" required title="Enter Country" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span data-ng-hide="editMode">
                                <input type="submit" value="Add" ng-disabled="AddAuthorForm.$invalid" data-ng-click="add()" class="btn btn-primary" />
                                <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                            </span>
                            <span data-ng-show="editMode">
                                <label ng-click="first($index); editText=false;editorEnabled='false'" class="btn btn-info">Edit</label>
                                <input type="submit" data-ng-hide="editText" value="Update" ng-disabled="AddAuthorForm.$invalid" data-ng-click="update()" class="btn btn-primary" />
                                <input type="button" data-ng-hide="editText" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                            </span>
                            <!--<input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />-->
                        </div>
                    </div>
                </form>

            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>