
    @using (Html.BeginForm("Delete", "Customer", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        
       <div class="row">
    
          @*<div class="panel-body"><h3>Are you sure you want to delete this?</h3></div>*@
            @Html.Hidden("Ref")
          
              <div class="form-group">
                  <div class="col-md-offset-1 col-md-10">
                      <h3>Are you sure you want to delete this Record?</h3>
                      
                      <input type="submit" value="Delete" class="btn btn-danger" />
                  </div>
              </div>
       
       </div>
        

     
    }

